.section-about {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* Mantém a barra e a linha em coluna */
    justify-content: flex-start;
    align-items: center;
    margin: 7vh auto;
    position: relative;
}

.titulo-about {
    font-size: 4rem;
    margin: 3% 0 3% 0;
    text-align: right;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 3px var(--wrapper-project-fonte);
}

.container-about {
    margin: 1% auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-img {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
}

.avatar-about {
    width: 50vh;
    max-width: 100%;
    height: auto;
}

.texto-about {
    flex: 0 0 50%;
    font-size: 1.5rem;
    margin: 2% 0 0 0;
    text-align: justify;
}

.highlight {
    position: relative;
    display: inline-block;
    color: purple;
    transition: color 0.3s ease;
}

@media screen and (max-width: 1024px) {
    .titulo-about {
        font-size: 2.5rem;
        margin: 3% 0 3% 0;
        text-align: center;
    }

    .texto-about {
        font-size: 1rem;
    }

    .avatar-about {
        width: 40vh;
        height: auto;
    }

}

@media screen and (max-width: 768px) {
    .container-about {
        flex-direction: column;
    }

    .about-img {
        flex: 0 0 100%;
    }

    .texto-about {
        flex: 0 0 100%;
    }

    .avatar-about {
        width: 35vh;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .avatar-about {
        width: 30vh;
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    .avatar-about {
        width: 25vh;
        height: auto;
    }
}