:root {
  /* Cores para o tema claro */
  --fundo: #ddc0ff;
  --background-color: #C7B0E1;
  --nav-menu: #D9D9D9;
  --nav-menu2: aliceblue;
  --nav-destaque: black;
  --nav-barra: #1E0044;

  --cor-fonte: black;

  --botao-cor1: #874CDD;
  --botao-cor2: #1E0044;
  --botao-sol: #d8860b;
  --botao-lua: #C7B0E1;

  --presentation: #947BB2;
  --detalhe: #a997be;
  --fonte-presentation: white;
  --destaque-fonte-presentation: linear-gradient(120deg, #1E0044, #B923FF);

  --tech: #684B93;
  --fonte-tech: white;
  --titulo-tech: #492875;
  --h2-tech: rgba(252, 252, 252, 0.6);
  --btn-outro: #692BC5;
  --btn-back: #874CDD;
  --btn-front: #A179DC;
  --btn-reset: rgb(207, 35, 35);
  --container-icon: linear-gradient(90deg, #684B93, #B07FF9);
  --container-nivel:#7335cf;
  --border-nivel:#492875;
  --button-hover-color:#2E0E5B;

  --font-project-categoria:black;
  --fundo-project: #E9DEFF;
  --sombra-project: 0px 10px 20px rgba(0, 0, 0, 0.2);
  --button-project-tech: #492875;
  --button-fonte-project-tech: white;
  --button-link-project:#8338EC;
  --button-link-project-hover:linear-gradient(90deg, #8338EC, #B923FF);
  --button-link-project-fonte:white;
  --image-project: #492875;
}

.dark-theme {
  /* Cores para o tema escuro */
  --fundo: #492875;

  --background-color: #15022E;
  --nav-menu: #692BC5;
  --nav-menu2: black;
  --nav-destaque: #C7B0E1;
  --nav-barra: #d8860b;

  --cor-fonte: #C7B0E1;

  --botao-cor1: #874CDD;
  --botao-cor2: #1E0044;

  --presentation: #2E0E5B;
  --detalhe: #614b81;
  --fonte-presentation: white;
  --destaque-fonte-presentation: linear-gradient(120deg, #530bb1, #cf0fff);

  --tech: #763acf;
  --titulo-tech: #B07FF9;
  --h2-tech: rgba(252, 252, 252, 0.6);
  --btn-outro: #32145F;
  --btn-back: #4F07BA;
  --btn-front: #572C98;
  --container-icon: linear-gradient(90deg, #4F07BA, #572C98);
  --container-nivel:#400292;
  --border-nivel:#874CDD;
  --button-hover-color:#874CDD;
  
  
}

@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


body {
  margin: 0;
  font-family: 'Asul', 'Montserrat', 'Source Code Pro', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--fundo);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}